@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');

.wedge:hover path {
    fill: rebeccapurple;
}

svg a.link {
    cursor: pointer;
}

.team {
    display: flex;
    flex-flow: column;
}

.player h2 {
    font-weight: normal;
    margin-bottom: 0;
}

.player p {
    margin: 0.5em 0 0 0;
}

.ui {
    display: flex;
    flex-flow: row;
    width: 100%;
    justify-content: space-between;
}

.us, .them {
    width: 15em;
}

.player.selected {
    background-color: slategrey;
}

.us .player {
    cursor: pointer;
}

body {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
}

.inventory {
    margin: 0;
    padding-left: 1rem;
}

.inventory li {
    list-style-type: none;
    height: 19px;
}

.inventory span {
    white-space: nowrap;
}

.ground {
    margin: 0px auto;
}

.ground button {
    display: block;
}

.player:first-child h2 {
    margin-top: 0;
}
